@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenido a Localizador de Amigos</h2>
<p>Esta aplicación te permite ver la ubicación de tus amigos en tiempo real.</p>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Mapa</h3>
            <p>Aquí se mostrará un mapa interactivo con las ubicaciones.</p>
            <div style="width: 100%; height: 400px; background-color: lightgray; text-align: center; line-height: 400px;">
                <strong>MAPA (Ejemplo)</strong>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Lista de Amigos</h3>
            <ul class="list-group">
                <li class="list-group-item">Juan - 📍 Madrid</li>
                <li class="list-group-item">Ana - 📍 Barcelona</li>
                <li class="list-group-item">Carlos - 📍 Sevilla</li>
            </ul>
        </div>
    </div>
</div>
